body {
  margin: 10px;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  background:  #eaeaea;
  font-size: 15px;
}

.mainLogo {
    display: block;
    margin: 250px auto;
    margin-bottom: 120px;
}
.topMenuLogo{
    width: 85px;
    height: 35px;
    margin-left: 95px;
    margin-top: 45px;
    float: left;
    padding-right: 58px;
}
.topMenu {
    width: 1120px;
    height: 125px;
    background-color: #fff;
    margin-left: 155px;
    vertical-align: middle;
    padding-left: auto;
    padding-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 86px;
}

.topMenu_list{
    padding-top: 55px;
}

.topMenu_list li {
    display: inline;
    margin-left: 25px;
    margin-right: auto;
    font-size: 14px;
}

.topMenu li:hover {
  display: inline;
  margin-left: 25px;
  margin-right: auto;
  font-size: 14px;
  color: #c2c2c2;
}


#searchbar{
  margin-right: 95px;
  padding: 10px;
  margin-top: 45px;
  float: right;
  border-radius: 0px;
  border-style: solid;
  border-color: #c2c2c2;
}

#photo, #logo {
    position: relative;

}

#logo {
    top:-430px;
    margin-left: 285px;
    margin-top: 50px;
}

#photo{
    width: 1120px;
    height: 440px;
    margin-left: 180px;
}

.heroPageTitle {
 font-family: 'Playfair Display', serif;
 font-size: 24px;
 color: #921026;
 margin-bottom: -15px;
}

.heroPageText {
 font-family: 'Josefin Sans';
 color: #000000;
 font-size: 15px;
 line-height: 1.2;
 left: 240.138px;
 top: 953.546px;
 width: 312px;
 height: 90px;
 z-index: 10;
  margin-top: 35px;
}

.getItRecipe {
  border-width: 1px;
  border-color: rgb(194, 194, 194);
  border-style: solid;
  width: 105px;
  height: 28px;
  z-index: 12;
  margin-top:  15px;
  font-size: 10px;
  background-color: c2c2c2; 
}

.getItRecipe:hover {
  transform: scale(1.05);
}

.getItRecipe:active{
  transform: scale(1.00);
}

.elipse {
  border-radius: 50%;
  background-color: rgb(85, 85, 85);
  position: absolute;
  left: 1216px;
  top: 1149px;
  width: 8px;
  height: 8px;
  z-index: 18;
}

#boolshit {
  horizontal-align: center;
}




